<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/fanjunjie/IdeaProjects/apitest/src/test/java/com/tuhu/demo/Demo2.java"><classes><class name="com.tuhu.demo.Demo2"><methods><include name="testGETBook"/></methods></class></classes></test></suite>