<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" allow-return-values="true">
    <test name="demo">
                <classes>
                    <class name="com.tuhu.demo.ReplyList"/>
                    <class name="com.tuhu.demo.AddVote"/>
                    <class name="com.tuhu.demo.DelVote"/>
                    <class name="com.tuhu.demo.CreateTopic"/>
                    <class name="com.tuhu.demo.HotSearch"/>
                </classes>
    </test>
</suite>